<div class="flex w-screen h-screen">
  <div
    class="bg-[url(https://images.pexels.com/photos/3228878/pexels-photo-3228878.jpeg)] bg-cover flex-1"
  >
    <div class="bg-black h-full p-8 bg-opacity-50">
      <h1 class="text-8xl text-center font-bold p-5">
        Welcome Back to Edufree App
      </h1>
      <p class="text-2xl text-center font-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat,
        veritatis.
      </p>
    </div>
  </div>
  <div class="flex-1 p-8 bg-[#1c1e53]">
    <p class="text-start font-semibold text-xl p-4 py-8">Login</p>
    <p class="text-start p-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
      explicabo!
    </p>
    <div class="flex flex-col gap-2 w-2/3 gap-6">
      <input type="text" pInputText placeholder="Your Name" />
      <input type="text" pInputText placeholder="Email" />
      <input type="password" pInputText placeholder="Pass****" />
    </div>
    <div class="div">
      <input type="checkbox" />
      <p>Remember Me</p>
    </div>

    <button>Login</button>
    <p>
      Don't have an account?<a href="#" routerLink="/auth/register/"
        >Register</a
      >
    </p>
  </div>
</div>
