<div class="login-container">
<div class="login-image">
    <h1>Welcome Back to Edufree App</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, veritatis.</p>
    <img src="/client/src/assets/woman-writing-on-paper-3228878.png" alt="login-img"/>
</div>
<div class="login-form-container">
    <p>Login</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, explicabo!</p>
    <div class="div">
        <input type="text" placeholder="Email"/>
        <input type="password" placeholder="Pass****"/>
    </div>
   <div class="div">
    <input type="checkbox">
    <p>Remember Me</p>
   </div>

   <button>Login</button>
   <p>Don't have an account?<a href="#" routerLink="/auth/register/">Register</a></p>
</div>
</div>
